In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Guarapari,-20.67,-40.50,64.99,93,20,2.24,BR,2020-06-23 02:57:58
1,1,Bredasdorp,-34.53,20.04,41.00,93,10,3.58,ZA,2020-06-23 03:04:20
2,2,Barrow,71.29,-156.79,35.60,80,75,16.11,US,2020-06-23 03:00:02
3,3,Busselton,-33.65,115.33,61.00,83,27,4.00,AU,2020-06-23 03:04:21
4,4,Hithadhoo,-0.60,73.08,84.47,72,13,9.78,MV,2020-06-23 03:04:21

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [12]:
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Guarapari,-20.67,-40.50,64.99,93,20,2.24,BR,2020-06-23 02:57:58
3,3,Busselton,-33.65,115.33,61.00,83,27,4.00,AU,2020-06-23 03:04:21
4,4,Hithadhoo,-0.60,73.08,84.47,72,13,9.78,MV,2020-06-23 03:04:21
5,5,Albany,42.60,-73.97,82.00,88,7,3.06,US,2020-06-23 02:59:30
7,7,Yellowknife,62.46,-114.35,69.01,39,75,12.75,CA,2020-06-23 03:02:11
...,...,...,...,...,...,...,...,...,...,...
551,551,Qandala,11.47,49.87,89.62,55,92,1.05,SO,2020-06-23 03:06:06
552,552,Pismo Beach,35.14,-120.64,61.00,93,20,4.70,US,2020-06-23 03:06:06
553,553,Porto Novo,6.50,2.60,75.78,89,95,5.97,BJ,2020-06-23 03:06:06
556,556,Sumenep,-7.02,113.87,84.00,66,100,11.43,ID,2020-06-23 03:06:07
557,557,Guarapari,-20.67,-40.50,64.99,93,20,2.24,BR,2020-06-23 02:57:58

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp    Lat     Lng Hotel Name
0               Guarapari      BR     64.99 -20.67  -40.50
3               Busselton      AU     61.00 -33.65  115.33
4               Hithadhoo      MV     84.47  -0.60   73.08
5                  Albany      US     82.00  42.60  -73.97
7             Yellowknife      CA     69.01  62.46 -114.35
8             Tuktoyaktuk      CA     60.80  69.45 -133.04
12     Sao Felix Do Xingu      BR     69.89  -6.64  -51.99
13             Zhezkazgan      KZ     68.00  47.80   67.71
14           Ponta Do Sol      PT     69.80  32.67  -17.10
15  Los Llanos De Aridane      ES     71.60  28.66  -17.92

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key

SyntaxError: unexpected EOF while parsing (<ipython-input-18-2ce9b6c7be49>, line 5)